results
regression_output
tmp_check
pglogical_create_subscriber
.vimrc
*.o
*.so
*.gcda
*.gcno
*~
pglogical.control
pglogical-*.tar.bz2
pglogical-*.tar.bz2.md5
pglogical-*.tar.bz2.asc
valgrind-*-*.log
/postgres
