[submodule "pglogical_output"]
	path = pglogical_output
	url = git@github.com:2ndQuadrant/pglogical.git
	branch = pglogical_output
[submodule "pglogical_dump"]
	path = pglogical_dump
	url = git@github.com:2ndQuadrant/pglogical_dump.git
